<div class="container">
  <div class="row">
    <section class="login-container">
      <div class="login-box">
        <header class="logo-header">
          <img src="../assets/logo.png" alt="iCreditWorks Logo" class="logo">
        </header>
        <h2 class="login-title">USER LOGIN</h2>
        <form>
          <div class="input-group">
            <input type="email" id="email" name="email" placeholder="Business Email ID" required>
          </div>
          <div class="input-group password-group">
            <input type="password" id="password" name="password" placeholder="Password" required>
            <i class="fas fa-eye toggle-password"></i>
          </div>
          <div class="remember-me">
            <input type="checkbox" id="remember" name="remember">
            <label for="remember">Remember me</label>
          </div>
          <a href="#" class="forgot-password">Don’t remember your password?</a>
          <button type="submit" class="login-button">Login</button>
        </form>
        <footer class="security-footer">
          <i class="fas fa-lock"></i> Your security is our priority
        </footer>
      </div>

    </section>
    <section class="article-section">
      <article>
        <p class="first-part">The smartest way for your patients to pay for their smiles.</p>
        <p class="second-part">Introducing a remarkable set of new features that simplify and accelerate everyday tasks performed in the Portal.
          Providers have even greater visibility and control over flexible financing offered through the iCreditWorks native mobile App!</p>
      </article>
    </section>
  </div>
</div>
